<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">

    <!-- Brand Logo Light -->
    <a href="/admin/dashboard" class="logo logo-light">
        <span class="logo-lg">
            <img src="https://www.grator.net/upload/files/files_2020-07-02_14-34-22.png" alt="logo" style="height:45px">
        </span>
        <span class="logo-sm">
            <img src="https://www.grator.net/upload/files/files_2020-07-02_14-34-22.png" alt="small logo" style="height:45px">
        </span>
    </a>

    <!-- Brand Logo Dark -->
    <a href="/admin/dashboard" class="logo logo-dark">
        <span class="logo-lg">
            <img src="https://www.grator.net/upload/files/files_2020-07-02_14-34-22.png" alt="dark logo" style="height:45px">
        </span>
        <span class="logo-sm">
            <img src="https://www.grator.net/upload/files/files_2020-07-02_14-34-22.png" alt="small logo" style="height:45px">
        </span>
    </a>

    <!-- Sidebar -left -->
    <div class="h-100" id="leftside-menu-container" data-simplebar>
        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title">Main</li>

            <li class="side-nav-item">
                <a href="/admin/dashboard" class="side-nav-link">
                    <i class="ri-dashboard-3-line"></i>
                    <span> Dashboard </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/admin/user/user-list" class="side-nav-link">
                    <i class="ri-door-lock-fill"></i>
                    <span> Authentication </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/admin/content/content-list" class="side-nav-link">
                    <i class="ri-pages-line"></i>
                    <span> Pages </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/admin/blog/blog-list" class="side-nav-link">
                    <i class="ri-pencil-line"></i>
                    <span> Blogs </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/admin/menu/menu-list" class="side-nav-link">
                    <i class="ri-menu-add-line"></i>
                    <span> Menu </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/admin/product/product-list" class="side-nav-link">
                    <i class="ri-store-fill"></i>
                    <span> Products </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/admin/category/category-list" class="side-nav-link">
                    <i class="ri-function-line"></i>
                    <span> Categories </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/admin/customer/customer-list" class="side-nav-link">
                    <i class="ri-customer-service-2-fill"></i>
                    <span> Customers </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/admin/order/order-list" class="side-nav-link">
                    <i class="ri-shopping-bag-fill"></i>
                    <span> Orders </span>
                </a>
            </li>
        </ul>
        <!--- End Sidemenu -->

        <div class="clearfix"></div>
    </div>
</div>
<!-- ========== Left Sidebar End ========== -->